body {
    background-color: rgb(46, 42, 45);
  }

.navbarLogo {
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
.logoPag {
    display: flex;
    width: 200px;
    height: 200px;
}