.cabeceraContacto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(201, 173, 167);
    border-radius: 10px;
    padding: 0%;
    grid-area: cabecera;
  }
  
  .tituloContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(13, 13, 14);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-image: url(../imagenes/imagen\ pag\ contacto.jpg);
    background-size: 500px;
    width: 1324px;
    height: 150px;
  }
  
  .formContacto {
    color: rgb(19, 51, 78);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
  }
  
  .formularioContacto {
    margin-left: 400px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .button {
    border: solid;
    border-color: aliceblue;
    padding: 15px;
    width: 200px;
    font-size: 20px;
  }