.cabecera__titulo__equipo {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(204, 190, 192);
    background-image: url(../imagenes/imagen\ equipo\ pag.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    margin-top: 0%;
    border: solid;
    border-color: rgb(99, 91, 90);
  }
  
  .seccionEquipo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
    
  .seccionEquipo__img {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0%;
    img {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    }

    .cardEquipo {
    width: 420px;
    height: 220px;
    background-color: rgb(80, 77, 74);
    padding: 20px;
    border-color: aliceblue;
    margin-top: 20px;
    margin-left: 5%;
    p {
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: aliceblue;
    }
    h5 {
    font-size: 25px;
    background-color: rgb(26, 25, 22);
    border-radius: 5px;
    color: rgb(117, 105, 105);
    }
  }

  .cardContactoE {
      margin-left: 3%;
      width: 100%;
   }
  
  
  
  
 