%navbar {
    font-size: 30px;
    padding: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
    border-radius: 5px;
    padding: 10px;
    border: solid;
    }
}