$servicios: (
colorCardServicios:rgb(196, 196, 181),
backgroundColorServicios: rgb(197, 187, 187)
);


$navbar: (
colorNavItem: rgb(22, 8, 20),
backgroundNavItem: rgb(69, 66, 80),
textNavItem: rgb(71, 34, 57)
);