@media screen and (max-width: 768px) {
    .carouselIndex {
      width: 100%;
    }
    
    .cardContactoIndex {
        margin-left: 20%;
    }
    .navIndex {
      font-size: 12px;
    }
    .cabecera__titulo__servicios {
      font-size: 20px;
      height: 100px;
    }
    .cardServicios {
      width: 200px;
      margin-left: 170px;
    }
    .cardServicios p {
      font-size: 13px;
    }
    .cardServicios h5 {
      font-size: 13px;
    }

    .tituloContacto {
        font-size: 20px;
        height: 300%;
        width: 100%;
    }

    .navContacto1 {
        font-size: 12px;
    }
    
    .navContacto {
        font-size: 12px;
    }

    .cardContactoC { 
       
        margin-right: 30%;
    }

    .cardC {
        width: 100%;
    }

    .cabecera__titulo__equipo {
        width: 100%;
        font-size: 20px;
        height: 100px;
    }

    .seccionEquipo__img { 
        display: none;
        img {
        display: none;
    }
    }

    .cardEquipo {
        width: 300px;
        height: 200px;
        p {
            font-size: 10px;
        }
        h5 {
            font-size: 20px;
        }
    }

    .Equipo {
        margin-left: 20%;
    }

    .cardContactoE {
        margin-left: 15%;
    }
}


  @media screen and (max-width: 992px) {
    .navIndex {
        font-size: 15px;
    }

    .cardServicios { 
        margin-left: 30px;

    }

    .cardContacto {
        width: 350px;
        margin-left: 5%;
        margin-top: 30px;
    }

    .tituloContacto {
        font-size: 25px;
        height: 300%;
        width: 100%;
    }

    .navContacto1 {
        font-size: 20px;
    }
    
    .navContacto {
        font-size: 20px;
    }

    .cardContactoC {
        margin-right: 15%;
       
    }

    .cardC {
        width: 100%;
    }

    .cabecera__titulo__equipo {
        width: 100%;
        font-size: 20px;
        height: 100px;
    }

    .seccionEquipo__img { 
        margin-left: 0%;
        img {
            width: 350px;
        }
}

    .cardEquipo {
        width: 330px;
        height: 200px;
        margin-left: 0%;
        p {
            font-size: 12px;
        }
        h5 { 
            font-size: 20px;
        }
}
}