@mixin navContacto ($backColor) {
    color: rgb(39, 179, 125);
    font-size: 30px;
    padding: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
    border-radius: 5px;
    padding: 10px;
    border: solid;
    border-color: black;
    background-color: $backColor;
    color:rgb(25, 114, 25) ;
    }
    
}