.cabeceraNoticias {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(241, 241, 245);
    background-image: url(../imagenes/imagen\ equipo\ pag.jpg);
    background-size: cover;
    width: 100%;
    height: 120px;
}
    
  .cabeceraNoticias__titulo { 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    display: flex;
    align-items: center;
    margin-top: 3%;
    background-color: rgb(104, 90, 89);
    width: 500px;
    height: 100px;
    justify-content: center;
    margin-left: 30%;
    border-radius: 5px;
    border: solid;
    border-color: rgb(229, 238, 238);
    color: aliceblue;
    }
    
    .cabeceraNoticias__parrafo--1 {
    display: flex;
    width: 50%;
    height: 50%;
    flex-wrap: wrap;
    margin-top: 5%;
    font-size: 20px;
    font-family: Aboreto-regular;
    text-align: center;
    background-color: rgb(241, 241, 248);
    padding: 5px;
    border: solid;
    border-color: rgb(201, 173, 167);
  }
  
  .textoNoticias {
    font-size: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  .card-body h5 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
  }
  
  .card-group {
    margin-top: 20px;
    margin-right: 0%;
  }
  
  .imgAbuso {
    height: 250px;
  }
  
  .imgEpec {
    height: 250px;
  }

  .imgMalaPraxis { 
    height:250px;
  }

  .cardContactoN {
    margin-top: 10%;
  }