.card {
    width: 300px;
    margin-top: 20px;
    margin-left: 100px;
    border: solid;
    border-color: map-get($servicios, backgroundColorServicios);
    h5 {
    font-size: 17px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    &:hover { background-color: rgb(78, 74, 74);
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;   
    }
    p { 
    background-color: rgb(22, 19, 19);
    // color:
    transition: all 0.5s;
    }
  }
}
  
  
  h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(239, 239, 245);
    background-image: url(../imagenes/top-view-over-career-guidance-items-for-judges.jpg);
    background-size: cover;
    height: 150px;
    text-align: center;
    border: solid;
    border-color: rgb(99, 91, 90);
   }

   .cardContacto {
    width: 400px;
    margin-left: 50px;
    margin-top: 50px;
    // border-color: ;
    }

    .navItem {
      font-size: 30px;
      color: map-get($navbar, textNavItem);
      padding: 20px;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      cursor: pointer;
      transition: all 0.5s;
      &:hover {
      background-color: map-get($navbar, backgroundNavItem);
      border-radius: 5px;
      padding: 10px;
      border: solid;
      border-color: map-get($navbar, colorNavItem);
      color: map-get($navbar, textNavItem);

      }
    }
    
    
  