@import "./partials/maps";
@import "./partials/extends";
@import "./partials/mixins";
@import "./partials/servicios";
@import "./partials/navbar";
@import "./partials/navbarContacto";
@import "./partials/equipo";
@import "./partials/noticias";
@import "./partials/contacto";
@import "./partials/body";
