.navIndex, .navServicios {
  font-size: 30px;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: all 0.5s;
}
.navIndex:hover, .navServicios:hover {
  border-radius: 5px;
  padding: 10px;
  border: solid;
}

.cardServicios {
  width: 300px;
  margin-top: 20px;
  margin-left: 100px;
  border: solid;
  border-color: rgb(197, 187, 187);
}
.cardServicios h5 {
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.cardServicios h5:hover {
  background-color: rgb(78, 74, 74);
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.cardServicios p {
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(62, 109, 121);
  background-image: url(../imagenes/top-view-over-career-guidance-items-for-judges.jpg);
  background-size: cover;
  height: 150px;
  text-align: center;
  border: solid;
  border-color: rgb(99, 91, 90);
}

.cardContacto {
  width: 400px;
  margin-left: 50px;
  margin-top: 50px;
}

.navItem {
  font-size: 30px;
  color: rgb(71, 34, 57);
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: all 0.5s;
}
.navItem:hover {
  background-color: rgb(69, 66, 80);
  border-radius: 5px;
  padding: 10px;
  border: solid;
  border-color: rgb(22, 8, 20);
  color: rgb(71, 34, 57);
}

.navServicios {
  color: rgb(71, 34, 57);
}
.navServicios:hover {
  background-color: rgb(69, 66, 80);
  border-color: rgb(22, 8, 20);
  color: rgb(71, 34, 57);
}

.navIndex {
  color: rgb(48, 66, 82);
}
.navIndex:hover {
  background-color: rgb(92, 84, 110);
  border-color: rgb(14, 13, 13);
  color: rgb(199, 193, 184);
}

.navContacto {
  color: rgb(39, 179, 125);
  font-size: 30px;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: all 0.5s;
}
.navContacto:hover {
  border-radius: 5px;
  padding: 10px;
  border: solid;
  border-color: black;
  background-color: rgb(28, 156, 114);
  color: rgb(25, 114, 25);
}

.navContacto1 {
  color: rgb(39, 179, 125);
  font-size: 30px;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: all 0.5s;
}
.navContacto1:hover {
  border-radius: 5px;
  padding: 10px;
  border: solid;
  border-color: black;
  background-color: rgb(51, 136, 185);
  color: rgb(25, 114, 25);
}

.cabecera__titulo__equipo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(204, 190, 192);
  background-image: url(../imagenes/imagen\ equipo\ pag.jpg);
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-top: 0%;
  border: solid;
  border-color: rgb(99, 91, 90);
}

.seccionEquipo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.seccionEquipo__img {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 0%;
}
.seccionEquipo__img img {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardEquipo {
  width: 420px;
  height: 220px;
  background-color: rgb(80, 77, 74);
  padding: 20px;
  border-color: aliceblue;
  margin-top: 20px;
  margin-left: 5%;
}
.cardEquipo p {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: aliceblue;
}
.cardEquipo h5 {
  font-size: 25px;
  background-color: rgb(61, 60, 56);
  color: rgb(29, 26, 26);
}

.cardContactoE {
  margin-left: 3%;
  width: 100%;
}

.cabeceraNoticias {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(241, 241, 245);
  background-image: url(../imagenes/imagen\ equipo\ pag.jpg);
  background-size: cover;
  width: 1325px;
  height: 150px;
}

.cabeceraNoticias__titulo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 35px;
  display: flex;
  align-items: center;
  margin-top: 3%;
  background-color: rgb(104, 90, 89);
  width: 500px;
  height: 100px;
  justify-content: center;
  margin-left: 30%;
  border-radius: 5px;
  border: solid;
  border-color: rgb(229, 238, 238);
  color: aliceblue;
}

.parrafo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 4%;
}

.cabeceraNoticias__parrafo--1 {
  display: flex;
  width: 50%;
  height: 50%;
  flex-wrap: wrap;
  margin-top: 5%;
  font-size: 20px;
  font-family: Aboreto-regular;
  text-align: center;
  background-color: rgb(241, 241, 248);
  padding: 5px;
  border: solid;
  border-color: rgb(201, 173, 167);
}

.textoNoticias {
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.card-body h5 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
}

.card-group {
  margin-top: 20px;
  margin-right: 10%;
}

.imgAbuso {
  height: 250px;
}

.imgEpec {
  height: 250px;
}

.imgMalaPraxis {
  height: 250px;
}

.cabeceraContacto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(201, 173, 167);
  border-radius: 10px;
  padding: 0%;
  grid-area: cabecera;
}

.tituloContacto {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(13, 13, 14);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  background-image: url(../imagenes/imagen\ pag\ contacto.jpg);
  background-size: 500px;
  width: 100%;
  height: 150px;
}

.formContacto {
  color: rgb(19, 51, 78);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.formularioContacto {
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.button {
  border: solid;
  border-color: aliceblue;
  padding: 15px;
  width: 200px;
  font-size: 20px;
}

.cardC {
  width: 100%;
}

.cardContactoC {
  margin-right: 15%;
}

.carousel-caption {
  color: black;
  font-size: 30px;
}

.carouselIndex {
  width: 100%;
}

body {
  background-color: rgb(46, 42, 45);
}

.navbarLogo {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.logoPag {
  display: flex;
  width: 200px;
  height: 200px;
}

@media screen and (max-width: 768px) {
  .carouselIndex {
    width: 100%;
  }
  .cardContactoIndex {
    margin-left: 20%;
  }
  .navIndex {
    font-size: 12px;
  }
  .cabecera__titulo__servicios {
    font-size: 20px;
    height: 100px;
  }
  .cardServicios {
    width: 200px;
    margin-left: 170px;
  }
  .cardServicios p {
    font-size: 13px;
  }
  .cardServicios h5 {
    font-size: 13px;
  }
  .tituloContacto {
    font-size: 20px;
    height: 300%;
    width: 100%;
  }
  .navContacto1 {
    font-size: 12px;
  }
  .navContacto {
    font-size: 12px;
  }
  .cardContactoC {
    margin-right: 30%;
  }
  .cardC {
    width: 100%;
  }
  .cabecera__titulo__equipo {
    width: 100%;
    font-size: 20px;
    height: 100px;
  }
  .seccionEquipo__img {
    display: none;
  }
  .seccionEquipo__img img {
    display: none;
  }
  .cardEquipo {
    width: 300px;
    height: 200px;
  }
  .cardEquipo p {
    font-size: 10px;
  }
  .cardEquipo h5 {
    font-size: 20px;
  }
  .Equipo {
    margin-left: 20%;
  }
  .cardContactoE {
    margin-left: 15%;
  }
  .title {
    font-size: 15px;
    height: 100px;
  }
  .servicios {
    margin-left: 20%;
  }
  .cardServicios {
    width: 250px;
  }
  .cardContactoS {
    margin-left: 10%;
  }
}
@media screen and (max-width: 992px) {
  .navIndex {
    font-size: 15px;
  }
  .cardServicios {
    margin-left: 30px;
  }
  .cardContacto {
    width: 350px;
    margin-left: 5%;
    margin-top: 30px;
  }
  .tituloContacto {
    font-size: 25px;
    height: 300%;
    width: 100%;
  }
  .navContacto1 {
    font-size: 20px;
  }
  .navContacto {
    font-size: 20px;
  }
  .cardContactoC {
    margin-right: 15%;
  }
  .cardC {
    width: 100%;
  }
  .cabecera__titulo__equipo {
    width: 100%;
    font-size: 20px;
    height: 100px;
  }
  .seccionEquipo__img {
    margin-left: 0%;
  }
  .seccionEquipo__img img {
    width: 350px;
  }
  .cardEquipo {
    width: 330px;
    height: 200px;
    margin-left: 0%;
  }
  .cardEquipo p {
    font-size: 12px;
  }
  .cardEquipo h5 {
    font-size: 20px;
  }
  .title {
    font-size: 20px;
    height: 100px;
  }
}/*# sourceMappingURL=styles.css.map */